body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 110vh;
  height: 90vh;
  background: gray;
  padding-bottom: 70px;
}
#result {
  height: 20vh;
  width: 100vh;
  color: black;
  background: rgb(216, 214, 214);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.btn {
  width: 25vh;
  height: 10vh;
  font-size: 20px;
}
.btn0 {
  width: 50vh;
  height: 10vh;
  font-size: 20px;
}
.btndot {
  width: 25vh;
  height: 10vh;
  font-size: 20px;
}
.btn:hover {
  background: orange;
}
.btn0:hover {
  background: orange;
}
.btndot:hover {
  background: orange;
}
.operator {
  width: 25vh;
  height: 10vh;
  font-size: 20px;
  background: orangered;
}
.operatorequals {
  width: 25vh;
  height: 10vh;
  font-size: 20px;
  background: green;
}
#heading {
  height: 10vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(46, 42, 42);
  color: white;
}
